.profilePage {
  display: flex;
  flex-direction: row;
  margin: 180px auto auto;
  max-width: 1240px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #8585AD;
  padding: 0;
  width: 320px;
  height: fit-content;
  border: 1px dashed lightcyan;
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #8585AD;
  height: 64px;
}

.active {
  color: #F2F2F3;
}

.text {
  text-align: start;
  color: #8585AD;
  opacity: 0.4;
}

.form {
  border: 1px dashed lightcyan;
  display: grid;
  gap: 24px;
  padding: 24px 0 80px 0;
  justify-items: center;
}

.newUser {
  margin: 0;
  padding: 0 0 16px 0;
  color: #8585AD;
}

.resetPassword {
  margin: 0;
  color: #8585AD;
}
