.burgerIngredients {
  max-height: 912px;
  width: 600px;
  text-align: left;
}

.blockWithScroll {
  height: 716px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-content: flex-start;
  overflow-y: scroll;
}

.tabBlock {
  display: flex;
}

.blockWithScroll::-webkit-scrollbar {
  width: 8px;
  /* ширина для вертикального скролла */
  background-color: #2F2F37;
}

/* ползунок скроллбара */
.blockWithScroll::-webkit-scrollbar-thumb {
  background-color: #8585AD;
}

.blockWithScroll::-webkit-scrollbar-thumb:hover {
  background-color: #6d6dac;

}
